

body {
    font-size: 100%;
    color: #333;
}

.main-ind {
    text-align: right;
}

.navbar {
  min-height: 60px;
}

.navbar-fixed-top {
  padding: 8px 0; }

.navbar-inverse {
  background-color: #323232;
  border-color: #222; }

.navbar-inverse .navbar-brand {
    font-weight: 600;
    color: #fff;
    font-size: 2rem;
}

.navbar-inverse .navbar-brand:hover {
  font-weight: 400;
  color: #bada44;
}

.navbar-inverse .navbar-nav > li > a {
font-size: 1.6rem;
color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #bada44;
}

.content {
    margin-top: 80px;
    margin-bottom: 40px;
    width: 80%;
}

.post {
    margin: 20px 70px 0 70px;
    font-size: 1.5em;
}

.meta {
    font-size: 1.3em;
}



nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: 600;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

nav a {
    text-decoration: none;
    color: #b4d455;
}

a:hover {
    text-decoration: none;
}

h1 {
    color: #323232;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    margin: 0px;
    padding-bottom: 8px;
}

h2 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1.5em;
}

footer h3 {
    color: #1212;
}

footer {
  border: 0;
  padding-top: 5px;
  background-color: #323232;
}

footer .col-md-4 {
    text-align: center;
}

footer .footer-top {
    margin-bottom: 50px;
}

footer a {
    font-size: 1.3em;
}

footer a:hover {
    color: #bada44;
}

footer .bottom-footer {
    text-align: center;
    color: #fff;
    background: #222;
    padding: 1rem 0; }

footer .bottom-footer p {
    color: #fff;
    margin: 0;
    font-size: 1.3em;
}