---
layout: project
title: Projects
---
<div class="container">
	<ul class="posts">
		<h2>School projects</h2>
		{% for project in site.projects %}

			{% if project.categories contains 'school' %}
				<li><a href="{{ project.url }}">{{ project.title }}</a></li>
			{% endif %}
		{% endfor %}
		<h3>WEB Publishing (WPUB)</h3>
		{% for project in site.projects %}
			{% if project.categories contains 'wpub' %}
				<li><a href="{{ project.url }}">{{ project.title }}</a></li>
			{% endif %}

		{% endfor %}
	</ul>

	<ul class="posts">
		<h2>Other projects</h2>
		{% for project in site.projects %}
			{% if project.categories contains 'other' %}
				<li><a href="{{ project.url }}">{{ project.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	</div>
