---
layout: default
title: Projects from School subject - Web publishing
---

<div class="some">
	<h1>Projects</h1>
	<ul class="posts">
	
		<h2>prve</h2>
		{%for project in site.colprojects %}
		{{ site.members | where:"year","2015" }}
			<li><a href="{{ project.url }} ">{{ project.title }}</a></li>
			
		{% endfor %}
		<h2>Druhe</h2>
		{{ site.members | where:"year","2016" }}
		{%for project in site.colprojects %}
			<li><a href="{{ project.url }} ">{{ project.title }}</a></li>
			
		{% endfor %}
			<li><a href="{{ project.url }} ">{{ project.title }}</a></li>
			
			
	</ul>
</div>