<footer>
    <div class="container footer-top">
        <div class="row">
            <div class="footer-col col-md-4">
            </div>
            <div class="footer-col col-md-4">
                <h3>i am also here</h3>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.linkedin.com/in/stefanschwartzjnr" class="btn-social"><i class="fa fa-fw fa-linkedin"></i> /stefanschwartzjnr</a>
                    </li>
                    <li>
                        <a href="http://github.com/pistik" class="btn-social"><i class="fa fa-fw fa-github"></i> /pistik</a>
                    </li>
                    <li>
                        <a href="https://bitbucket.org/pistik" class="btn-social"><i class="fa fa-fw fa-bitbucket"></i> /pistik</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 bottom-footer">
                    <p>That' me 2016 ©</p>
                </div>
            </div>
        </div>
    </div>
</footer>
